body {background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {color: white;
    font-weight: normal;
    font-size: 50px;
    }

h3 {color: white;
    font-weight: 300;
    font-size: 42px;}

h6 {color:gray;
    font-size: 21px;
    }

#main {text-align: center;}

#footer {text-align: right;}